/* =========================
   SAFENET AI THEME
========================= */

.stApp{
    background:#0B0F19;
    color:#F8FAFC;
}

/* Main container */
.block-container{
    max-width:1200px;
    padding-top:2rem;
    padding-bottom:2rem;
}

/* Hide Streamlit branding */
#MainMenu,
footer,
header{
    visibility:hidden;
}

/* Headings */
h1,h2,h3{
    color:white;
    font-weight:700;
}

/* Logo */
.logo{
    display:block;
    margin:auto;
}

/* Hero */
.hero-title{
    text-align:center;
    font-size:42px;
    font-weight:700;
    margin-top:10px;
    margin-bottom:8px;
}

.hero-subtitle{
    text-align:center;
    color:#94A3B8;
    font-size:18px;
    margin-bottom:30px;
}

/* Buttons */
div.stButton > button{
    width:100%;
    height:52px;
    border-radius:12px;
    border:none;
    font-weight:600;
    font-size:16px;
    background:linear-gradient(135deg,#7C3AED,#2563EB);
    color:white;
    transition:0.25s;
}

div.stButton > button:hover{
    transform:translateY(-2px);
}

/* Inputs */
div[data-baseweb="input"]{
    border-radius:12px;
}

/* Metric cards */
.metric-box{
    background:#111827;
    border:1px solid #1F2937;
    border-radius:18px;
    padding:25px;
    text-align:center;
}

.metric-title{
    color:#9CA3AF;
    font-size:18px;
}

.metric-value{
    font-size:38px;
    color:#38BDF8;
    font-weight:bold;
}

/* Custom card */
.card{
    background:#111827;
    border:1px solid #1F2937;
    border-radius:18px;
    padding:25px;
    margin-bottom:20px;
}

/* Success */
.stSuccess{
    border-radius:15px;
}

/* Warning */
.stWarning{
    border-radius:15px;
}

/* Error */
.stError{
    border-radius:15px;
}